@import '~antd/dist/antd.less';
@import '../../assets/style/index.less';

.app-content {
  box-sizing: border-box;
  padding: 16px;
  min-height: calc(100vh - 64px - 22px - 32px);
}
.topNav {
  position: sticky;
  top: 0;
  overflow: hidden;
}